<html>
    <head>
    <!-- Latest compiled and minified CSS -->

    </head>
    <body>
        <form method="get" action="">
            <input type="text" placeholder="Username" name="username"><br>
            <input type="email"  placeholder="Email" name="email"><br>
            <input type="password" placeholder="Password" name="password"><br>
            <button type="submit" class="btn btn-bg" value="submit" name="register">Register</button>
        </form>
   
    </body>
</html>